:root{
  --dark-color: rgb(1, 1, 28);
  --large-radius:8px;
  --large-font: 1.2rem;
  --light-gray-color: rgb(179, 176, 176);
  --light-color: rgb(223, 217, 217);
  --medium-radius: 6px;
  --slate-color:rgb(228, 188, 114);
  --small-radius:4px;

}

*{
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

}
.bg-gray{
  background-color: gray;
}
.bg-green-500{
  background-color: rgb(34 197 94);
}
.bg-light-gray{
  background-color: var(--light-gray-color);
}

body {

  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.border-none{
  border: none;
}
.border-b-1{
  border-bottom: 1px solid;
}
.border-light-gray{
  border-color: var(--light-gray-color);
}
.border-solid{
  border: solid 1px var(--light-gray-color);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  margin: auto;
  width: 50%;
}
.flex{
  display: flex;
}
.flex-row{
  flex-direction: row;
}
.font-light{
  font-weight: 400;
}
input[type=text]::placeholder{
  color: var(--dark-color);
}
.items-center{
  align-items: center;
}
.justify-between{
  justify-content: space-between;
}
li{
  list-style: none;
}
.outline-none:focus{
  outline: none;
}
.px-2{
  padding-inline: .25rem;
}
.px-4{
  padding-inline: .5rem;
}
.px-8{
  padding-inline: 1rem;
}
.py-4{
  padding-block: .5rem;
}
.py-8{
  padding-block: 1rem;
}
.rounded-lg{
  border-radius: var(--large-radius);
}
.rounded-md{
  border-radius: var(--medium-radius);
}
.text-green-500{
  color: rgb(34 197 94);
}
.text-left{
  text-align: left;
}
.text-light{
  color: var(--light-color);
}
.text-lg{
  font-size: var(--large-font);
}
.text-red-500{
  color: rgb(220 38 38);
}
li:nth-child(even){
  background-color: var(--slate-color);
}
.w-60{
  width: 60%;
}